<header class="site-header" ng-controller="headerCtrl as ctrl" ng-cloak>
  <div class="container-fluid">
    
    
    <div class="header-logo">
      <a class="logo" href="#">
        <span class="current-project">[[ project.charAt(0).toUpperCase() + project.slice(1) ]]</span>
        <img src="/img/logo.png" srcset="/img/logo@2x.png 2x" alt="NetApp Logo">
      </a>
    </div>
    <div class="header-navs">
      <ul class="main-menu">
        <li class="" ng-repeat="page in ctrl.mainMenu">
          <a class="" href="[[ page.url ]]">[[ page.title ]]</a>
        </li>
      </ul>

      <div class="dropdown projects">
        <button class="btn btn-default dropdown-toggle" type="button" id="projects" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          [[ project.charAt(0).toUpperCase() + project.slice(1) ]]
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="projects">
          <li class="nav-item" ng-repeat="project in ctrl.projects">
            <a class="nav-link" href="/[[ project.slug ]]" ng-click="setProject(project.slug)">[[ project.name ]]</a>
          </li>
        </ul>
      </div><!--/.dropdown.projects-->
    </div><!--/.header-navs-->
    
  </div><!--/.container-fluid-->
</header>