.card {
	p:last-of-type {
		margin-bottom: 0;
	}
}

//variants
.card-feature {
	text-align: center;

	.card-img {
		display: inline-block;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background: $color-primary-light;

		i {
			color: $color-primary;
			font-size: 48px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		//green variant
		&.alt-bg {
			background: $color-secondary;

			i {
				color: $color-secondary-dark;
			}
		}
		
	}//.card-img
}

.card-list-item {

}