.card {
	
}

//variants
.card-feature {
	text-align: center;

	.card-img {
		display: inline-block;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		background: $color-primary-light;

		i {
			color: $color-primary;
			font-size: 48px;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		//green variant
		&.alt-bg {
			background: $color-secondary;

			i {
				color: $color-secondary-dark;
			}
		}
		
	}//.card-img

	p:last-of-type {
		margin-bottom: 0;
	}
}

.card-list-item {
	background-color: $color-gray-light;
	position: relative;

	.category-type {
		display: inline-block;
		width: 65px;
		height: 46px;
		background-color: $color-primary-light;
		color: $color-primary;
		font-size: 32px;
		text-align: center;
		position: absolute;
		top: .5rem;
		right: -.5rem;
		line-height: 1;

		i {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}