---
layout: default
---
<div ng-controller="searchCtrl as ctrl" ng-init="ctrl.init('blog')" ng-cloak>
    <section class="hero">
        <div class="container-fluid">
            <div class="hero-body hero-body-medium">
                <div class="input-group">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                    <input type="search" class="form-control" id="keywords" placeholder="Type Some Keywords" ng-model="ctrl.query">
                </div>
                <div class="filter-options">
                    <a class="btn btn-primary form-control" href="#" ng-click="ctrl.sort='video'">Videos</a>
                    <a class="btn btn-primary form-control" href="#" ng-click="ctrl.sort='document'">Documents</a>
                    <a class="btn btn-primary form-control" href="#" ng-click="ctrl.sort='guide'">Guides</a>
                    <a class="btn btn-primary form-control" href="#" ng-click="ctrl.sort='report'">Reports</a>
                    <a class="btn btn-primary form-control" href="#" ng-click="ctrl.sort=''">Clear Filter</a>
                </div>  
            </div><!--/.hero-body-->
        </div><!--/.container-fluid-->
    </section><!--/.hero -->
      <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="post in ctrl.posts | filter:ctrl.query | filter: ctrl.sort | orderBy: post.date : ctrl.reverse">
                    <div class="card card-list-item">
                        <div class="category-type"><i class="fa fa-[[ post.categories ]]"></i></div>
                        <img class="card-img-top" ng-src="[[ post.image ]]" alt="">
                        <div class="card-block">
                            <h4 class="card-title"><a class="post-link" href="[[post.url]]" ng-bind="post.title"></a></h4>
                            <div class="card-text">{{ content | truncate:50 }}</div>
                            <a href="[[post.url]]" class="btn btn-secondary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-fluid-->
    </section><!--/section -->
</div>
