---
layout: default
---
<div ng-controller="searchCtrl as ctrl" ng-cloak>
    <section class="hero">
        <div class="container-fluid">
            <div class="hero-body hero-body-small">
                <div class="input-group">
                    <div class="input-group-addon"><span class="fa fa-search"></span></div>
                    <input type="search" class="form-control" id="keywords" placeholder="Type Some Keywords" ng-model="ctrl.query">
                </div>
                <a class="btn btn-primary" href="#" ng-click="ctrl.query='video'">Videos</a>
                <a class="btn btn-primary" href="#" ng-click="ctrl.query='document'">Documents</a>
                <a class="btn btn-primary" href="#" ng-click="ctrl.query='guide'">Guides</a>
                <a class="btn btn-primary" href="#" ng-click="ctrl.query='report'">Reports</a>
            </div><!--/.hero-body-->
        </div><!--/.container-fluid-->
    </section><!--/.hero -->
    {% for post in site.posts %}    
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p><small><strong>{{ post.date | date: "%B %e, %Y" }}</strong> . {{ post.category }} . <a href="http://erjjones.github.com{{ post.url }}#disqus_thread"></a></small></p>            
{% endfor %}    
    <section>
        <div class="container-fluid">
            <a href="#" ng-click="ctrl.reverse = !ctrl.reverse" ng-class="{reverse:ctrl.reverse}">Sort Most Recent</a>

            <div class="container">
                <div class="col-sm-3" ng-repeat="post in ctrl.posts | filter:ctrl.query | orderBy: post.date : ctrl.reverse">
                    <div class="card">
                        <img class="card-img-top" src="http://placehold.it/400x300" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title"><a class="post-link" href="[[post.url]]" ng-bind="post.title"></a></h4>
                            <date class="post-meta" ng-bind="post.date"></date>
                            <p class="card-text">{{ content | truncate:50 }}</p>
                            {{ page.url }}
                            [[ post.url ]]
                            <a href="{{site.baseurl}}[[post.url]]" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.container-fluid-->
    </section><!--/section -->
</div>
