<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/lib/tether/js/tether.min.js"></script>
    <script>
        angular.element(document).ready(function() {
            angular.bootstrap(document, ['netApp']);
        });
    </script>
  </body>

</html>
