---
layout: default
---
<section class="hero">
    <div class="container-fluid">
        <h1>{{ page.title }}</h1>
    </div><!--/.container-fluid-->
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    <span class="author">{{ page.author }}</span>
</section><!--/.hero -->
<section>
    <div class="container-fluid">
        {{ content }}
    </div><!--/.container-fluid-->
    <div class="container-fluid" ng-controller="searchCtrl as ctrl" ng-cloak>
        <h2>Related Content</h2>
        <div class="related-content" ng-init="ctrl.getRelated('{{ page.tags | join: " " }}')">
            <p ng-repeat="relatedPost in ctrl.related"><a class="post-link" href="[[relatedPost.url]]">[[ relatedPost.title ]]</a></p>
        </div>
    </div>
</section><!--/section -->