---
layout: default
---
<section class="hero">
    <div class="container-fluid">
        <h1>{{ page.title }}</h1>
        <div class="hero-body hero-body-small">
            <p>{{ content }}</p>
            <div class="hero-btn-group">
                <a href="http://community.netapp.com/t5/OpenStack-Discussions/bd-p/openstack-discussions" class="btn btn-secondary" target="_blank">Learn More</a>
                <a href="https://github.com/NetApp/Harvest" class="btn btn-secondary" target="_blank">View on GitHub</a>
            </div><!--/.hero-btn-group-->
        </div><!--/.hero-body-->
    </div><!--/.container-fluid-->
</section><!--/.hero -->
<section>
  <div class="container-fluid">
    <h2>Let's get started.</h2>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card card-feature">
          <div class="card-img">
            <i class="zmdi zmdi-accounts-alt"></i>
          </div><!--/.card-img-->
          <div class="card card-block">
            <h3 class="card-title">Community</h3>
            <p class="card-text">Empowering users to provision resources through our community web interface.</p>
          </div><!--/.card-block-->
        </div><!--/.card-->
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card card-feature">
          <div class="card-img alt-bg">
            <i class="zmdi zmdi-code-setting"></i>
          </div><!--/.card-img-->
          <div class="card card-block">
            <h3 class="card-title">Code</h3>
            <p class="card-text">Great collaboration starts with communication. That’s why we love Github.</p>
          </div><!--/.card-block-->
        </div><!--/.card-->
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card card-feature">
          <div class="card-img">
            <i class="zmdi zmdi-library"></i>
          </div><!--/.card-img-->
          <div class="card card-block">
            <h3 class="card-title">Resources</h3>
            <p class="card-text">Everything from deployment guides to documentation, we have an answer to your questions.</p>
          </div><!--/.card-block-->
        </div><!--/.card-->
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card card-feature">
          <div class="card-img alt-bg">
            <i class="zmdi zmdi-comment-alt-text"></i>
          </div><!--/.card-img-->
          <div class="card card-block">
            <h3 class="card-title">Blog</h3>
            <p class="card-text">A great sentence about how great this blog experience is would go in this location.</p>
          </div><!--/.card-block-->
        </div><!--/.card-->
      </div><!--/.col-->
    </div>
  </div><!--/.container-fluid-->
</section><!--/section -->
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <img src="http://placehold.it/550x380" alt="">
      </div><!--/.col-->
      <div class="col-md-6 col-lg-5 col-lg-offset-1 col-v-align-center">
        <h2>Take a test drive!</h2>
        <p>In this innovative Test Drive, we have deployed OpenStack in the AWS Cloud using EC2 instances and EBS storage, and NetApp Cloud ONTAP from the AWS MarketPlace. Each of the sections takes you through different values you will gain by using Cloud ONTAP with OpenStack Glance, Manila and Cinder using AWS infrastructure.</p>
        <a href="#" class="btn btn-secondary">Try the free test drive today</a>
      </div><!--/.col-->
    </div><!--/.row-->
  </div><!--/.container-fluid-->
</section><!--/section -->
<section>
 <div class="container-fluid">
   <div class="row">
   <div class="col-md-6 col-lg-5 col-v-align-center">
       <h2>Our OpenStack story</h2>
       <p>NetApp continues to drive value into the OpenStack integration for six successive OpenStack releases.
         With the latest Juno release, NetApp continues to drive new value and innovation for OpenStack storage
         infrastructure.</p>
         <a href="#" class="btn btn-secondary">Watch the Video</a>
       </div><!--/.col-->
       <div class="col-md-6 col-lg-offset-1">
         <img src="http://placehold.it/550x380" alt="">
       </div><!--/.col-->
     </div><!--/.row-->
   </div><!--/.container-fluid-->
 </section><!--/section -->
