.site-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding-top: 1rem;
	padding-bottom: 1rem;

	a {
		color: #fff;
	}

	.header-navs {
		display: inline-block;
		width: 60%;
		margin-left: -5px;
		text-align: right;
	}

	.header-logo {
		width: 40%;
		display: inline-block;
	}

}

.logo {
	max-width: 215px;
	display: inline-block;
}

.main-menu {
	display: inline-block;
	padding: 0;
	margin: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		margin-left: -5px;
	}

	a {
		padding: 1rem;
		color: #fff;
	}
}

.dropdown.projects {
	display: inline-block;
	
	border: 1px solid $color-primary-light;
	border-radius: 3px;

	button {
		background-color: transparent;
	}
	
	.dropdown-menu {
		background-color: $color-primary-light;
		border: none;
		border-radius: 0;
		padding: 0;

		a {
			display: block;
			padding: .5rem;
			// color: $color-primary-gray-dark;

			&:hover {
				background-color: $color-primary-gray-dark;
			}
		}
	}
}